@import 'scss/colors';

$app-content-dark-bg: $dark-300;
$app-content-light-bg: $-light;
$app-content-dark-fg: $-light;
$app-content-light-fg: $-dark;

.App {
  text-align: center;
  @include light {
    color: $app-content-light-fg;
    background-color: $app-content-light-bg;
  }
  @include dark {
    color: $app-content-dark-fg;
    background-color: $app-content-dark-bg;
  }
}

p {
  font-size: calc(5px + 2vmin);

  @include dark-fg;
  @include light-fg;
}

input {
  font-size: calc(10px + 2vmin);
  //color: theme-color('input', $theme);
}

//.container {}
.Flex {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.Flex-item {
  flex: 1 0 auto;
  //background: red;
  position: relative;
  text-align: center;
  line-height: 40px;
  margin: 0 24px;
}

.background {
  //background-color: #282c34;
  @include dark-bg;
  @include light-bg;
}

.Textarea {
  font-size: calc(10px + 2vmin);
  @include dark-fg;
  @include light-fg;
  margin: 0 48px;
}

.App-header {
  //min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include dark-fg;
  @include light-fg;
  flex: 0 1 auto;
}

.Submit {
  text-align: center;
}

.Submit-header {
  @include dark-bg;
  @include light-bg;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  @include dark-fg;
  @include light-fg;
}

.Results {
  text-align: center;
}

.Results-header {
  @include dark-bg;
  @include light-bg;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  @include dark-fg;
  @include light-fg;
}

@media only screen and (min-width: 768px) {
  .divider {
    width: 2px;
    margin: 6px 48px;
    min-height: 50vh;
    @include dark-fg;
    @include light-fg;
  }
}
