@import 'colors.scss';

$theme: 'light';

.App {
  text-align: center;
}

p {
  font-size: calc(10px + 2vmin);
  color: theme-color('text', $theme);
}

input {
  font-size: calc(10px + 2vmin);
  color: theme-color('input', $theme);
}

//.container {}
.Flex {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.Flex-item {
  flex: 1 0 auto;
  //background: red;
  position: relative;
  text-align: center;
  line-height: 40px;
  margin: 0 24px;
}

.background {
  //background-color: #282c34;
  background-color: theme-color('background', $theme);
}

.Textarea {
  font-size: calc(10px + 2vmin);
  color: theme-color('text', $theme);
  margin: 0 48px;
}

.App-header {
  //min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: theme-color('text', $theme);
  flex: 0 1 auto;
}

.Submit {
  text-align: center;
}

.Submit-header {
  background-color: theme-color('background', $theme);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: theme-color('text', $theme);
}

.Results {
  text-align: center;
}

.Results-header {
  background-color: theme-color('background', $theme);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: theme-color('text', $theme);
}

.long-boi {
  width: 50px !important;
}

@media only screen and (min-width: 768px) {
  .divider {
    width: 2px;
    margin: 6px 48px;
    min-height: 50vh;
    background: theme-color('text', $theme);
  }
}
