.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

p {
  font-size: calc(10px + 2vmin);
  color: black;
}
input {
  font-size: calc(10px + 2vmin);
  color: black;
}

.background {
  background-color: white;
  flex-direction: row;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  flex: 0 1 auto;
}

.App-link {
  color: blue;
}

.Submit {
  text-align: center;
}

.Submit-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Results {
  text-align: center;
}

.Results-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.long-boi {
  width: 50px !important;
}

.divider {
  width: 2px;
  margin: 6px 48px;
  min-height: 50vh;
  background: black;
}
