@import 'scss/colors';
@import 'scss/media';

.Details {
    text-align: center;
}

.Details-content {
    @include dark-bg;
    @include light-bg;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // font-size: calc(10px + 2vmin);
    @include dark-fg;
    @include light-fg;
}